@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<input type="button" value="Show customers" onclick="myLoad()"> <br />
<input type="button" value="Clear" onclick="clearDiv()"><br />
<input type="button" value="Insert customer" onclick="insert()" />
<input id="customerName" placeholder="customerName"/>
<input id="customerBuyingCategory" placeholder="customerBuyingCategory" />
<br />
<input type="button" value="Delete customer" onclick="delet2()" />
<input id="customerId" placeholder="customerId" /><br />

<form action="#">
   Upload your file <input type="file" id="myfile" name="myfile" /><br />
    <input type="submit" />
</form>


<div id="resultsRegion"></div>


<script src="~/js/myscript.js"></script>
 